{% extends 'course/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'problem/create_problem.css' %}"> 
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

<h3> Create Problem </h3>

<form method="post">
    {% csrf_token %}
    {{ problem_form.as_p }}
    <button type="submit">Create Problem</button>
</form>
{% endblock body %}