{% extends 'problem/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'problem/index.css' %}">
    <link rel="stylesheet" href="{% static 'problem/popup.css' %}">
    {% include 'editor/editor_css_files.html' %}    
{% endblock styles %}
    
{% block scripts %}    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{% static 'problem/js/mathjax.js' %}"></script>
    <script src="{% static 'problem/js/popup.js' %}"></script>
    {% include 'editor/editor_js_files.html' %}    
{% endblock scripts %}    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

    <div class="my_container">
        <h1>{{ problem.name }}</h1>
        <p>{{ problem.statement|linebreaks }}</p>

        <h2>Input Section</h2>
        <p>{{ problem.input_section|linebreaks }}</p>

        <h2>Output Section</h2>
        <p>{{ problem.output_section|linebreaks }}</p>

        <h2>Sample Test Cases</h2>
        <ol class="sample-test-cases">
            {% for testcase in samples %}
                <li>
                    <div class="card">
                        {{ testcase.data|linebreaks }}
                        Output:
                        {{ testcase.answer|linebreaks }}
                    </div>
                </li>
            {% endfor %}
        </ol>
        
        <h2> Submit here </h2>
        <form method="post" action="{% url 'problem:index' problem.id %}" id="snippet-form">
            {% csrf_token %}
            <div class="editor-container">
                {{ editor_form.code.label_tag }}
                <textarea id="code-editor" name="code"></textarea>
            </div>
            <input type="hidden" name="problem_id" value="{{ problem.id }}">
        
            <button type="submit" class="btn btn-outline-primary btn-lg" id = "button">Submit</button>
        </form>
        
    </div>

    {% if result %}
    <div id="resultModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>{{ result }}</p>
        </div>
    </div>

{% endif %}

{% endblock body %}
