<!DOCTYPE html>
<html>
<head>
    <title>{{ problem.name }}</title>
</head>
<body>
    <h1>{{ problem.name }}</h1>
    
    <p>{{ problem.statement }}</p>
    
    <h2> Input Section </h2>
    <p>{{ problem.input_section }}</p>

    <h2> Output Section </h2>
    <p>{{ problem.output_section }}</p>
    
    <h2>Sample Test Cases:</h2>
    <ol>
        {% for testcase in samples %}
            <li>
                <div>{{ testcase.data }}</div>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
