<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.2/mode/clike/clike.min.js"></script>

<style>
    .CodeMirror {
        border: 2px solid #444;
        border-radius: 8px;
        padding: 10px;
        height: auto;
        width: 800px;
    }
    .editor-container {
        margin-top: 20px;
    }
    #button {
        margin-top: 20px;
    }
</style>


<script>   
    document.addEventListener("DOMContentLoaded", function() {
            var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), { 
                mode: "text/x-csrc",
                theme: "monokai",
                lineNumbers: true,
                matchBrackets: true,
                autoCloseBrackets: true,
                lineWrapping: true,
                viewportMargin: Infinity,
                styleActiveLine: true,
            });
            editor.setSize(null, "25em");

            
            var defaultCode = `#include<iostream>

using namespace std;

int main() {
    
}`;
            editor.setValue(defaultCode);

            document.getElementById('snippet-form').addEventListener('submit', function() {
                document.getElementById('code-editor').value = editor.getValue();
            });
        });

</script>