{% extends 'course/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'course/create_course.css' %}">
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

    <h1>Create New Course</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Course</button>
    </form>
{% endblock body %}
