{% extends 'course/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'course/course.css' %}">
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

<div class="content">
    <h1>{{ course.name }}</h1>

    {% for problem in course.problems.all %}
        <div class="card">
            <h2><a href="{% url 'problem:index' problem.id %}">{{ problem.name }}</a></h2>
        </div>
    {% empty %}
        <div class="card">
            <h2>No problems added yet!</h2>
        </div>
    {% endfor %}

    {% if request.user.role == 'instructor' %}
        <button id="showUnusedProblems">Add Problem</button>
        <button id="showUsedProblems">Remove Problem</button>
    {% endif %}

    <div id="unusedProblemList" class="hidden card">
        <form action="{% url 'course:add_problem_to_course' course.id %}" method="post">
            {% csrf_token %}
            <select name="problem_id">
                {% for problem in unused_problems %}
                    <option value="{{problem.id}}"> {{problem.name}} </option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="usedProblemList" class="hidden card">
        <form action="{% url 'course:remove_problem_to_course' course.id %}" method="post">
            {% csrf_token %}
            <select name="problem_id">
                {% for problem in course.problems.all %}
                    <option value="{{problem.id}}"> {{problem.name}} </option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('showUnusedProblems').addEventListener('click', function() {
        var unusedProblemList = document.getElementById('unusedProblemList');
        unusedProblemList.classList.remove('hidden');
        unusedProblemList.scrollIntoView({ behavior: 'smooth' });
    });

    document.getElementById('showUsedProblems').addEventListener('click', function() {
        var usedProblemList = document.getElementById('usedProblemList');
        usedProblemList.classList.remove('hidden');
        usedProblemList.scrollIntoView({ behavior: 'smooth' });
    });
</script>

{% endblock body %}
