{% extends 'course/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/guest_navbar.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class='form' action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
{% endblock body %}