{% extends 'users/layout.html' %}
{% load static %}
{% load poll_extras %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
{% endblock styles %}    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

<div class="container" style="margin-top: 80px;">
    <div class="card p-4">
        <h1>{{ user.username }} Profile</h1>

        <ul>
            {% for field in form %}
                {% if user|get_attribute:field.name %}
                    <li>{{ field.label_tag }} {{ user|get_attribute:field.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if request.user.role == 'instructor' %}
            <h3><a class="btn btn-outline-primary btn-lg" href="{% url 'problem:my_problems' %}">My Problems</a></h3>
        {% endif %}
        <h3><a class="btn btn-outline-primary btn-lg" href="{% url 'users:edit_profile' %}">Edit Profile</a></h3>
    </div>
</div>
{% endblock body %}
    