{% extends 'course/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'users/register.css' %}">
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/guest_navbar.html' %}
        <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <button type="submit">Register</button>
        </form>
{% endblock body %}