{% extends 'users/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock style %}

{% block body %}
    <div class="container">
        <h2>User Registration</h2>
        <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <button type="submit">Register</button>
        </form>
    </div>
{% endblock body %}