body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: Arial, sans-serif;
}  

.card {
    background-color: white;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #495057;
    border-color: #495057;
}

h2 {
    color: #343a40;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    width: 100%; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem;
    line-height: 1.5; 
}


label {
    font-weight: bold; 
}


.form-group label {
    margin-bottom: 0.5rem;
}


input[type="checkbox"], input[type="radio"] {
    margin-top: 0.3rem;
}