<!DOCTYPE html>
<html>
    <head>
        <title>Guest</title>    
    </head>
    <body>
        <h1>Welcome to our website!</h1>

        {% if not user.is_authenticated %}
        <a href = "{% url 'users:register' %}" > Register </a>
        {% endif %}
        
        <!-- Display login button if user is not logged in -->
        {% if not user.is_authenticated %}
        <a href = "{% url 'users:login' %}"> Login </a>
        {% endif %}

        {% if user.is_authenticated %}
        <a href = "{% url 'users:logout' %}"> Logout </a>
        {% endif %}
    </body>
</html>
