{% extends 'dashboard/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock styles %} 

{% block body %}
    <body>
        {% include 'dashboard/guest_navbar.html' %}

        <div class="main-content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h1>
                In a world full of problem solvers, be a Problem 
                <span style="color: #343a40;">Maestro!</span>
            </h1>

            <h2>
                We help students develop their programming skills.
                <br>
                We help instructors provide the optimal learning experience.
            </h2>
        </div>
    </body>
{% endblock body %}