{% extends 'dashboard/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/user_dashboard.css' %}">
{% endblock styles %}
    

{% block body %}

{% include 'dashboard/my_navbar.html' %}

<div class="content">
    <h3 style="font-weight: bold;">My Courses</h3>
    {% for course in courses %}
    <a href="{% url 'course:index' course.id %}">
        <div class="card">
            <h2>{{ course.name }}</h2>
        </div>
    </a>
    {% empty %}
    <div class="content">
        <h2>You are not enrolled in any courses yet</h2>
    </div>
    {% endfor %}
</div>

<footer class="footer">
    <p>&copy; 2024 ProbleMaestro. All Rights Reserved.</p>
</footer>
{% endblock body %}