body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow-x: hidden; 
}

.navbar {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #343a40; /* Same color as the navbar */
    font-size: 36px; /* Larger font size for emphasis */
    margin-bottom: 20px;
}

h2 {
    font-size: 24px; /* Larger font size for emphasis */
    text-align: center;
}

p {
    font-weight: bold;
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.actions a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
}

.tap-box {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}