.navbar {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nav_h1 {
    color: #343a40; /* Same color as the navbar */
    font-size: 36px; /* Larger font size for emphasis */
    margin-bottom: 20px;
}
