body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

a:hover {
    color: #007bff;
}

button {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007bff;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 70%;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    font-size: 16px; 
    margin: 0;
    padding: 5px 0;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}